In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder


t=pd.read_csv('Sport car price.csv')
dfcopy=t.copy()
df=t[['Car Make','Car Model','Year','0-60 MPH Time (seconds)','Price (in USD)']]
df['Price (in USD)']=t['Price (in USD)'].str.replace(',','').astype(int)
df['0-60 MPH Time (seconds)']=t['0-60 MPH Time (seconds)'].str.replace('< ','').astype(float)

/var/folders/c4/9rnhzq0124b6m1b7t9fwhvz40000gn/T/ipykernel_53514/3446776225.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price (in USD)']=t['Price (in USD)'].str.replace(',','').astype(int)
/var/folders/c4/9rnhzq0124b6m1b7t9fwhvz40000gn/T/ipykernel_53514/3446776225.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['0-60 MPH Time (seconds)']=t['0-60 MPH Time (seconds)'].str.replace('< ','').astype(float)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Car Make                 1007 non-null   object
 1   Car Model                1007 non-null   object
 2   Year                     1007 non-null   int64
 3   0-60 MPH Time (seconds)  1007 non-null   float64
 4   Price (in USD)           1007 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 39.5+ KB

In [18]:
X=df.drop('Price (in USD)',axis=2)
y=df['Price (in USD)']

In [19]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=50)

In [20]:
ohe=OneHotEncoder()
ohe.fit(X[['Car Make','Car Model']])

OneHotEncoder()

In [24]:
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [32]:
col_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['Car Make','Car Model']),remainder='passthrough')

In [33]:
lr=LinearRegression()

In [34]:
pipe=make_pipeline(col_trans,lr)

In [35]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Acura', 'Alfa Romeo', 'Alpine', 'Ariel', 'Aston Martin', 'Audi',
       'BMW', 'Bentley', 'Bugatti', 'Chevrolet', 'Dodge', 'Ferrari',
       'Ford', 'Jaguar', 'Kia', 'Koenigsegg', 'Lamborghini', 'Lexus',
       'Lotus', 'Maserati', 'Mazda', 'McLaren'...
       'RS6', 'RS6 Avant', 'RS7', 'RS7 Sportback', 'Roadster', 'Roma',
       'S5', 'S63 AMG', 'SF90 Stradale', 'SL', 'SL 63 AMG', 'SLC 43',
       'SLS AMG', 'SLS AMG Black Series', 'Senna', 'Si√°n', 'Speedtail',
       'Stinger', 'Supra', 'TT RS', 'TT RS Coupe', 'Taycan', 'Taycan 4S',
       'Taycan Turbo S', 'Urus', 'Vantage', 'Viper', 'Viper ACR',
       'WRX STI', 'Wraith', 'Z4 M40i', 'Z4 Roadster', 'i8'], dtype=object)]),
                                                  ['Car Make', 'Car Model'])])),
                ('linearregression', LinearRegression())])

In [36]:
y_pred=pipe.predict(X_test)

In [37]:
r2_score(y_test,y_pred)

0.9553636719878429

In [38]:
df.head()

      Car Make Car Model  Year  0-60 MPH Time (seconds)  Price (in USD)
0      Porsche       911  2022                      4.0          101200
1  Lamborghini   Huracan  2021                      2.8          274390
2      Ferrari   488 GTB  2022                      3.0          333750
3         Audi        R8  2022                      3.2          142700
4      McLaren      720S  2021                      2.7          298000

In [39]:
pipe.predict(pd.DataFrame([['Porsche','911',2022,4.0]],columns=['Car Make','Car Model','Year','0-60 MPH Time (seconds)']))

array([101200.07638533])

In [40]:
pipe.predict(pd.DataFrame([['Audi','R8',2022,3.2]],columns=['Car Make','Car Model','Year','0-60 MPH Time (seconds)']))

array([142699.97230064])

In [ ]:
while True:
    print('If want to predict press "p" and for quit press "q" ')
    pr=input('Press:')
    if(pr=='p'):
        a=input('Enter Car Company:')
        b=input('Enter Car Model:')
        c=input('Enter Year of Car:')
        d=input('0-60 Km/s Time:')
        e=pipe.predict(pd.DataFrame([[a,b,c,d]],columns=['Car Make','Car Model','Year','0-60 MPH Time (seconds)']))
#         f=np.argmax(e)
        print('The car value is $',e[0])
    else:
        break;

If want to predict press "p" and for quit press "q"